:root {
  --purple: #6638b6;
  --bright-purple: #8c52ff;
  --grey: #505050;
  --dark-grey: #393939;
  --orange: #ffbd59;
  --green: #7ed957;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero {
  background-image: url("assets/to-clarify-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--purple)
}

.bg-purple {
  background-color: var(--purple);
}
.bg-bright-purple {
  background-color: var(--bright-purple);
}
.bg-grey {
  background-color: var(--grey);
}
.bg-dark-grey {
  background-color: var(--dark-grey);
}
.bg-green {
  background-color: var(--green);
}
.bg-orange {
  background-color: var(--orange);
}

.text-dark-grey {
  color: var(--dark-grey);
}
.text-orange {
  color: var(--orange);
}
.text-green {
  color: var(--green);
}

.link-white-purple {
  color: var(--white);
}

.link-white-purple:hover {
  color: var(--bright-purple);
}

.link-white,
header a,
footer a {
  text-decoration: none;
  color: var(--white);
  opacity: 0.7;
}

.link-white:hover,
header a:hover,
header a.active,
header h1 a,
footer a:hover,
footer a.active {
  cursor: pointer;
  color: var(--white);
  opacity: 1;
}

button.link {
  border: none;
}

.btn-purple {
  background-color: var(--bright-purple);
}

.btn-purple:hover {
  background-color: var(--purple);
}

form input,
form textarea {
  border: none;
  padding: 2px 8px;
  border-radius: 4px;
}

form label {
  padding: 3px;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.form-error-msg {
  height: 1em;
  padding: 1px 0;
  font-size: 0.8em;
  color: var(--orange);
}

.project-list li {
  border: none;
}

.project-list li:hover {
  background-color: var(--bright-purple);
  cursor: pointer;
}

.card.bg-purple a {
  color: var(--white);
  text-decoration: none;
}

.card-link.bg-purple:hover {
  color: var(--white);
  background-color: var(--bright-purple);
  text-decoration: none;
}

select.remove-default-styles {
  outline: none;
}
