:root {
  --purple: #6638b6;
  --bright-purple: #8c52ff;
  --grey: #505050;
  --dark-grey: #393939;
  --orange: #ffbd59;
  --green: #7ed957;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.bg-purple {
  background-color: var(--purple);
}
.bg-dark-grey {
  background-color: var(--dark-grey);
}
